<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starwars Characters</title>
</head>

<body>
    <h1>Starwars Characters</h1>
    <% for(i=0;i<5;i++){ %>
        <h2>Character
            <%= i+1 %>
        </h2>
        <ul>Name:
            <%= character[i].name %>
        </ul>
        <ul>Mass:
            <%= character[i].mass %>
        </ul>
        <ul>Gender:
            <%= character[i].gender %>
        </ul>
        <% } %>
</body>